html {
    background: none;
 }
 
 body {
    font-family: tahoma,geneva,sans-serif;
    background: #ededed;
    font-size:14px;  
   }
   
   body p {
      font-family: tahoma,geneva,sans-serif;
      font-size: 14px;
   }
 
 a {
    color:#80462a;
 }
 
 a:hover {
    color:#c3671b;
    cursor: pointer;
 }
 
 .pkp_site_name{
    padding-left: 0;
 }
 
 
 .pkp_structure_page {
    margin:  auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1160px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .pkp_structure_head { /* main */
    /* background:  #67ff6a; */
    border-radius: 7px 7px 0 0;
    }
 
 .pkp_structure_main h1 {
    font-weight: 600;
    font-size: 20px;
 }
 
 .pkp_structure_main h2 {
   border-bottom-width: 3px;
   border-bottom-style: solid;
   border-bottom-color: #80462a;
   }
 
 .pkp_page_index .current_issue h2 {
   display: inline-block;
   padding-bottom: 8px;
   border-bottom: 3px solid #ecb724;
   text-transform: capitalize;
   font-weight: 700;
   color: rgba(0,0,0,0.54);
 }
 .pkp_page_index .current_issue .current_issue_title {
   font-size:14px;
 }
 .obj_issue_toc .heading .published .label {
   text-transform:capitalize;
   font-size: 90%;
 }
 .pkp_page_index .current_issue .read_more {
   margin-bottom: 20px;
   margin-top: 20px;
 }
 .obj_issue_toc .section h2 {
   position: relative;
   display: inline-block;
   top: auto;
   left: auto;
   padding: 0 0 5px;
   border-bottom: 3px solid #be931b;
   background: transparent;
   text-transform: capitalize;
   font-weight: 700;
   padding-bottom: 0em;
 }
 .pkp_navigation_primary_row{
   background-color: #80462a;
   text-align:left;
      padding-left:15px;
   box-shadow: 0px 5px 8px 0px rgba(0,0,0,.3);
 }
 #navigationPrimary a {
   color: #ffffff;
   font-weight: 100;
   text-transform: uppercase;
 }
 #navigationPrimary ul {
 background: #92512e;
 }
 #navigationPrimary ul a:hover {
 background: #80462a;
 border-left: .357rem solid #f2aa62;
 
 }
 
 .pkp_navigation_search_wrapper a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
 }
 
 #navigationPrimary [aria-expanded="true"]:before {
   border-bottom-color: #ecb724;
 }
 
 .pkp_navigation_user.pkp_navigation_user {
    margin: 0;
    padding: 0 20px;
    border: none
 }
 
 .pkp_navigation_user_wrapper a {
    font-size: 15px;
    font-weight: 200;
    color: #80462a;
 }
 
 #navigationPrimary ul a {
 color: #fff;
 
 }
 /* Custom sidebar menu*/
 
 .sidebar-main, .sidebar-items {
    display: flex;
    flex-direction: column;
    justify-content: center;   
 }
 
 .sidebar-main{
    width: 100%;
 }
 
 .sidebar-items {
    background-color: #80462a;
    text-align: center;
    
 }
 
 .sidebar-items a{
    padding: 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid 1px rgb(255, 255, 255);
    text-decoration: none;
 }
 
 .sidebar-items a:hover{
    background-color: #ecb724;
    color: #80462a;
 }
 
 .title {
     color: #80462a;
     /* text-align: center; */
 }
 
 .pkp_block.block_make_submission a {
     display: inline-block;
     position: relative;
     padding: 5px 37px;
     top: 0;
     text-transform: uppercase !important;
     font-size: 15px;
     font-family: tahoma,geneva,sans-serif;
     background: 	#ffffff;
     color: #80462a;
 }
     
 
 /* --- Custom Main Menu */
 .pkp_head_wrapper .pkp_search .search_controls .search_prompt{
   font-size: 13.5px;
   color: #e6e6e6;
   font-weight: 100;
   text-transform: capitalize;
 }	
 .pkp_navigation_user_wrapper a {
   font-size: 15px;
   font-weight: 200;
 }
 
 .pkp_block {
   font-size: 14px;
   line-height: 20px;
   clear: both;
   border-bottom: 1.5px solid #ddd;
 }
 
 .pkp_structure_sidebar{
   background:#FFFFFF;
 }
 
 .pkp_block .title {
   display: inline-block;
   padding-bottom: 0em;
   border-bottom: 3px solid #80462a;
   font-weight: 600;
   text-transform: capitalize;
 }
 
 .obj_article_details .main_entry .label {
   display: inline-block;
   padding: 0 0 5px;
   border-bottom: 3px solid #80462a;
   color: rgba(0,0,0,0.54);
   text-transform: capitalize;
 }
 
 .pkp_structure_content {
   padding-top: 30px;
   background:#FFFFFF;
 }
 
 .obj_article_details .abstract {
   text-align: justify;
   font:tahoma,geneva,sans-serif;
 }
 
 .obj_article_summary > .title {
   font-size: 14.5px;
   line-height: 20px;
   font-weight: 100;
 }
 
 .obj_article_summary {
   padding-bottom: 10px !important;
   border-bottom: solid 1px #80462a!important;
   font-size: 12px;
 }
 
 .pkp_site_name .is_img img {
   display: inline-block;
   /* max-height: 100% !important; */
   max-width: 100%;
   width: auto;
   height: auto;
 }
 
 .pkp_footer_content {
 float: none;
 width: 100%;
 clear: both;
 padding-top: 10px;  
 }
 
 .pkp_brand_footer {  /* main */
 background: #85ae99;
 display: none;
 }
 
 .pkp_structure_footer_wrapper {
   background:  #e6e6e6;
   border-bottom: 0px solid;
 }
 
 .obj_galley_link {
   font-weight: 700;
   text-transform: Capitalize;
   background: #80462a;
   color: #fff;
   border: none;
 }
 
 .cmp_breadcrumbs {
   text-transform: capitalize;
 }
 
 .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
   background: #8c8c8c;
   border: 0px solid #80462a;
 }
 
 .cmp_notification {
    
    border-left: .357rem solid #984400;
    
 }

 @media (min-width: 992px) and (min-width:992px) {
    .pkp_navigation_primary {
        display:inline-block;
        max-width: 90%;
        text-align: left
    }
}