{% extends 'base.html' %} {% block title %}Archiving and Repository Policies -
JHST{% endblock %} {% block content %}
<section class="max-w-5xl mx-auto space-y-8">
  <div class="bg-card-light dark:bg-card-dark p-6 rounded">
    <h1
      class="text-3xl font-display font-bold text-primary mb-6 border-b border-border-light dark:border-border-dark pb-2"
    >
      Archiving and Repository Policies
    </h1>

    <div
      class="prose dark:prose-invert max-w-none text-gray-700 dark:text-gray-300"
    >
      <h2
        class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80 inline-block"
      >
        Archiving
      </h2>
      <p>
        Journal of Hydrocarbon Science and Technology is archived in the Open
        Journal System (OJS) Public Knowledge Project Preservation Network (PKP
        PN).
      </p>

      <h2
        class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80 inline-block mt-8"
      >
        Repository
      </h2>
      <p>
        Journal of Hydrocarbon Science and Technology permits the authors to
        self-archive All Versions of their work (this includes, the original
        version (Submitted manuscript), Accepted Version (Author accepted
        manuscript) and the published Version (Version of record)) in their
        personal website or in an institutional repository and any other
        repositories of their choice for as long as the author wishes. However,
        the published source must be acknowledged. For articles, a link to the
        journal homepage or Digital Object Identifier (DOI) of the article must
        be set.
      </p>
    </div>
  </div>
</section>
{% endblock %}
