{% extends 'base.html' %} {% block content %}
<section class="max-w-5xl mx-auto space-y-8">
  <div class="bg-card-light dark:bg-card-dark p-6 rounded">
    <h1 class="text-3xl font-display font-bold text-primary mb-8">
      Author's Guidelines
    </h1>

    <div
      class="prose dark:prose-invert max-w-none text-gray-800 dark:text-gray-200"
    >
      <!-- About the Journal -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          About the Journal
        </h2>
        <p>
          The Journal of Hydrocarbon Science and Technology (JHST), the official
          journal of the Petroleum Training Institute (PTI), Effurun, Nigeria,
          is dedicated to publishing high-quality, peer-reviewed, and
          hypothesis-driven original research across all disciplines of
          hydrocarbon science and technology. JHST provides an inclusive
          platform for innovative research from diverse pure and applied
          sciences fields.
        </p>
        <p class="mt-4">
          Since its inception, JHST has been recognised for its commitment to
          academic excellence. JHST is indexed and abstracted by Scopus,
          Directory of Open Access Journals (DOAJ), Google Scholar, and is
          actively pursuing inclusion in other major databases.
        </p>
      </div>

      <!-- Open Access Policy -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Open Access Policy
        </h2>
        <p>
          This journal ensures immediate open access to its content, embracing
          the principle that freely available research fosters a broader global
          knowledge exchange. Authors retain full copyright over their work
          while granting first publication rights to JHST. All articles in JHST
          are published under the Creative Commons Attribution 4.0 International
          License (CC BY 4.0), allowing for unrestricted use, distribution, and
          reproduction, provided proper credit is given to the original authors
          and source.
        </p>
      </div>

      <!-- Publication Schedule -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Publication Schedule
        </h2>
        <p>
          JHST publishes two issues per year and ensures that manuscripts are
          made available online as soon as they are accepted.
        </p>
      </div>

      <!-- Editorial Policy -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Editorial Policy
        </h2>
        <p>
          Authors must prepare their manuscripts following the Instructions for
          Authors of the journal. Manuscripts that do not follow the format and
          style of the journal may be returned to the authors for revision or
          rejected. The Journal reserves the right to make any further formal
          changes and language corrections necessary in a manuscript accepted
          for publication. Manuscripts are accepted with the understanding that
          the authors have not violated the ethics of research and publishing
          during the conduct of the experiment and writing of the manuscript.
        </p>
      </div>

      <!-- General Requirements -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          General Requirements
        </h2>
        <p>
          All submitted manuscripts should contain original research written in
          the English Language, not previously published and not under
          consideration for publication elsewhere. Manuscripts may be submitted
          for consideration as original papers (research articles describing
          original experimental results) and short communications. The Journal
          also publishes mini-reviews, which are by invitation. However, authors
          willing to submit a review article may write a proposal for the
          editor-in-chief.
        </p>
      </div>

      <!-- Manuscript Preparation -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Manuscript Preparation
        </h2>
        <p>
          The manuscript (including references, tables, boxes, and legends) must
          be typed in 12-point font, double-spaced on A4 paper with margins of 1
          inch or 4.5 cm on all sides. All pages in the manuscript should be
          page-numbered.
        </p>
      </div>

      <!-- Cover Letter -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Cover letter
        </h2>
        <p>
          The cover letter must clearly show the full contact details with the
          corresponding author's postal address (es), phone numbers and e-mail
          address (es). The relevance of the study should also be indicated. The
          cover letter must also disclose all possible conflicts of interest
          (e.g. funding sources for consultancies or studies of products). A
          minimum of three (3) potential reviewers with their email addresses
          and institutions familiar with the subject matter should be suggested.
          However, the use of the reviewers is at the discretion of the
          Editor-in-Chief.
        </p>
      </div>

      <!-- Title Page -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Title page
        </h2>
        <p>
          The title page should contain the title of the manuscript, the
          authors’ names, affiliations and email addresses. One of the authors
          should be designated as the corresponding author.
        </p>
      </div>

      <!-- Abstract -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Abstract
        </h2>
        <p>
          Abstract should not be more than 250 words, containing a concise
          summary of the objective and scope, general methods, results,
          conclusion and significance of the research.
        </p>
      </div>

      <!-- Keywords -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Keywords
        </h2>
        <p>
          The journal welcomes a maximum of six keywords, which should be words
          that can be used to retrieve the paper, not general words. Words
          appearing in the title should not be given as keywords. The keywords
          must correspond with those in Medical Subject Headings (MESH) where
          applicable.
        </p>
      </div>

      <!-- Introduction -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Introduction
        </h2>
        <p>
          The Introduction should provide sufficient background on the study. It
          should also give the statement of the problem and the rationale for
          conducting the research. The aim should also be clearly defined. The
          contribution to the area of study should be identified. All these must
          be presented in logical manner.
        </p>
      </div>

      <!-- Materials and Methods -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Materials and Methods
        </h2>
        <p>
          This section must provide sufficient detail to allow the work to be
          reproduced. Methods already published should be indicated by
          reference, and only relevant modifications should be described. Newly
          developed methods should also be described in detail. The sources of
          all major instruments, chemicals, reagents, assay kits and drugs must
          be given. The type of statistical tool(s) used to analyse the data
          should be mentioned and justified. All procedures involving
          experimental animals or human subjects must be accompanied by a
          statement on ethical approval from an appropriate ethics committee.
        </p>
      </div>

      <!-- Result and Discussion -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Result and Discussion
        </h2>
        <p>
          Authors may wish to combine the two sections (Results and Discussion).
        </p>
      </div>

      <!-- Results -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Results
        </h2>
        <p>
          A clear and concise Results Section should highlight the important
          results obtained. Data should be organised into Figures and Tables.
          The same results should not be repeated in Figures and Tables. All
          Tables and Figures should be appropriately referred to within the
          text. Values already contained in the Tables need not be repeated in
          the Results Section. Qualitative as well as quantitative results
          should be included if applicable.
        </p>
      </div>

      <!-- Discussion -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Discussion
        </h2>
        <p>
          This section should relate the Results Section to the current
          understanding of the scientific problems being investigated in the
          field. This section, apart from adducing scientific reason(s) to the
          results obtained, must also present the theoretical implications and
          practical applications of the findings. The authors should also
          identify where their findings agree and/or contrast with previously
          published studies. Reasons for such differences must also be advanced.
          This section must also be devoid of speculations that are not
          supported by findings in their present study.
        </p>
      </div>

      <!-- Conclusion -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Conclusion
        </h2>
        <p>
          The conclusion must reflect the judgment or decision reached by
          reasoning after the discussion on the manuscript. This section sums up
          the arguments about what you have been writing about.
        </p>
      </div>

      <!-- Acknowledgements -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Acknowledgements
        </h2>
        <p>
          Major contributors who did not qualify as authors should be
          acknowledged accordingly. Funding sources should also be acknowledged
          appropriately.
        </p>
      </div>

      <!-- Conflict of Interests -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Conflict(s) of Interests
        </h2>
        <p>
          Authors are required to disclose financial interests (e.g. employment,
          significant share ownership, patent rights, consultancy, research
          funding, etc.) in any company or institution that might benefit from
          their publication. All authors must provide details of any other
          potential competing interests of a personal nature that readers or
          editors might consider relevant to their publication. To prevent
          ambiguity, authors must state explicitly whether potential conflicts
          exist or do not exist. The statement should be placed in the text of
          the submitted manuscript directly following the Acknowledgements.
        </p>
      </div>

      <!-- References -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          References
        </h2>
        <p class="mb-4">
          All references must be listed at the end of the paper, and authors are
          responsible for ensuring their accuracy. References should be complete
          and formatted according to the Vancouver Reference Format. References
          are numbered consecutively in order of appearance in the text – they
          are identified by Arabic numerals in parentheses (1), square brackets
          [1], superscript<sup>1</sup>
        </p>

        <div
          class="space-y-4 text-sm bg-gray-50 dark:bg-gray-800 p-4 rounded border border-gray-100 dark:border-gray-700"
        >
          <p>
            <strong>Books:</strong> Author(s). <em>Title of book</em>. Edition.
            Place: Publisher; Year.
          </p>
          <p>
            <strong>Journal Articles:</strong> Author(s). Title of article.
            <em>Abbreviated Journal Title</em>. Year; Volume(Issue): page
            numbers.
          </p>
          <p>
            <strong>Webpages:</strong> Author(s). Title. [Internet]. Place:
            Publisher; Date [cited Date]. Available from: URL
          </p>
          <p>
            <strong>Conference Proceedings:</strong> Editor(s).
            <em>Title of conference</em>. Place: Publisher; Year.
          </p>
        </div>
      </div>

      <!-- Submission -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Submission
        </h2>
        <p>
          This should be done <strong>ONLY</strong> online at the journal
          website. Submission of the manuscript through any other means will not
          be processed.
        </p>
      </div>

      <!-- Assessment -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Assessment
        </h2>
        <p>
          Each manuscript will be subjected to both plagiarism check and
          preliminary editorial review before it can be sent for double blind
          peer review. Manuscripts will only be accepted after satisfactory
          recommendations have been received from the independent reviewers.
          Acceptance of manuscripts for publication will be based on originality
          of the research and contribution to scientific knowledge, without
          neglecting technical quality.
        </p>
      </div>

      <!-- Publication Fees -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Publication Fees
        </h2>
        <p>
          An article publication fee of Thirty Thousand Naira only (₦30,000.00)
          or One Hundred Dollars (100 USD) will be charged on any article
          accepted for publication. Payment details will be provided upon
          acceptance.
        </p>
      </div>

      <!-- Checklist -->
      <div class="mb-10">
        <h2
          class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80"
        >
          Submission Preparation Checklist
        </h2>
        <ul class="list-disc pl-5 space-y-2">
          <li>
            The manuscript has not been previously published nor under
            consideration by another journal.
          </li>
          <li>
            The manuscript file is in OpenOffice, Microsoft Word, RTF or
            WordPerfect document file format.
          </li>
          <li>
            Where available, URLs and DOIs for the references have been
            provided.
          </li>
          <li>
            The text is double-spaced; uses a 12-point font; employs italics,
            rather than underlining (except with URL addresses).
          </li>
          <li>
            All illustrations, figures, and tables are placed within the text at
            the appropriate points rather than at the end.
          </li>
          <li>A declaration statement on conflict of interest.</li>
          <li>
            A cover letter stating the novelty and significance of the work, and
            a list of at least three suggested reviewers with their email.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
