{% extends 'base.html' %} {% block title %}Author Guidelines - JHST{% endblock %} {% block content %}
<section class="max-w-5xl mx-auto space-y-8">
  <div class="bg-card-light dark:bg-card-dark p-6 rounded">
    <h1 class="text-3xl font-display font-bold text-primary mb-8">
      Author's Guidelines
    </h1>

    <div
      class="prose dark:prose-invert max-w-none text-gray-800 dark:text-gray-200"
    >
      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.about_journal_heading }}</h2>
        {{ page.about_journal_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.open_access_heading }}</h2>
        {{ page.open_access_policy_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.pub_schedule_heading }}</h2>
        {{ page.publication_schedule_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.editorial_policy_heading }}</h2>
        {{ page.editorial_policy_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.general_req_heading }}</h2>
        {{ page.general_requirements_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.ms_preparation_heading }}</h2>
        {{ page.manuscript_preparation_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.cover_letter_heading }}</h2>
        {{ page.cover_letter_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.title_page_heading }}</h2>
        {{ page.title_page_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.abstract_heading }}</h2>
        {{ page.abstract_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.keywords_heading }}</h2>
        {{ page.keywords_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.introduction_heading }}</h2>
        {{ page.introduction_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.materials_methods_heading }}</h2>
        {{ page.materials_methods_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.result_discussion_heading }}</h2>
        {{ page.result_discussion_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.results_heading }}</h2>
        {{ page.results_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.discussion_heading }}</h2>
        {{ page.discussion_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.conclusion_heading }}</h2>
        {{ page.conclusion_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.acknowledgements_heading }}</h2>
        {{ page.acknowledgements_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.conflicts_heading }}</h2>
        {{ page.conflicts_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.references_heading }}</h2>
        {{ page.references_intro_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.submission_heading }}</h2>
        {{ page.submission_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.assessment_heading }}</h2>
        {{ page.assessment_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.publication_fees_heading }}</h2>
        {{ page.publication_fees_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.checklist_heading }}</h2>
        {{ page.checklist_items|safe }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
