{% extends 'base.html' %} {% block title %}Peer Review Policy - JHST
<!-- endblock -->
{% endblock %} {% block content %}
<section class="max-w-5xl mx-auto space-y-8">
  <div class="bg-card-light dark:bg-card-dark p-6 rounded">
    <h1
      class="text-3xl font-display font-bold text-primary mb-6 border-b border-border-light dark:border-border-dark pb-2"
    >
      Peer Review Policy
    </h1>

    <div
      class="prose dark:prose-invert max-w-none text-gray-700 dark:text-gray-300"
    >
      <p>
        The Journal of Hydrocarbon Science and Technology (JHST) operates a
        <strong>Double-Blind Peer Review Policy</strong>. The double-blind peer
        review procedure guarantees objectivity and avoids prejudice during the
        review process. When a review is conducted double-blindly, neither the
        reviewer nor the author knows each other's identity. This improves
        neutrality and prevents potential biases from skewing the reviewer's
        judgment. Double-blind peer review not only increases the process's
        efficacy as an academic journal quality control method but also makes it
        more equitable for all parties involved.
      </p>
      <p>
        The JHST double-blind review process begins with submitting your
        manuscript; our editor decides whether your paper is a good fit based on
        our pre-review assessment, which includes a plagiarism check and
        conformity with the authors' guidelines. If the editor is satisfied with
        the pre-assessment of the manuscript, a copy without the author's
        details is sent to at least two reviewers by the editor. The editor
        keeps your identity, as well as that of the reviewers, hidden. Reviewers
        may see the paper’s title and introduction, but they do not know who
        wrote it. The reviewer will then review your paper and send comments and
        recommendations to the editor, and the editor will then return the paper
        to you with their comments. You are responsible for making any necessary
        changes based on the reviewer’s comments and then resubmitting the
        paper. The editor will then assign the paper to another reviewer, who
        may or may not be the same person as the first reviewer. These steps are
        repeated until both reviewers agree that the paper is ready for
        publication.
      </p>
      <p>
        At JHST, a desk rejection is usually decided within the first week after
        submission if the article is not aligned with the journal’s interests or
        objectives or if a very preliminary version has been submitted (with
        errors, shortcomings, or a poorly developed argument). The double-blind
        peer review process is followed for all articles published in JHST.
      </p>

      <h2
        class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80 inline-block mt-8"
      >
        Guidelines for Double-Blind Peer Review
      </h2>
      <p>
        JHST employs double-blind peer review for all its articles; as a result,
        both the author and reviewer are anonymous to one another. To ensure the
        success of this process, the author(s) need to ensure that their
        manuscripts are prepared in a manner that does not reveal their
        identity.
      </p>
      <p>
        To help the author(s) prepare their manuscript, authors should be guided
        by the outlined points when submitting to the
        <em>Journal of Hydrocarbon Science and Technology</em>.
      </p>
      <ul class="list-disc pl-5 space-y-2">
        <li>
          Author(s) should submit a <strong>Title Page</strong> containing the
          Author details and <strong>Blinded Manuscript</strong> with no author
          details as two (2) separate files.
        </li>
      </ul>

      <h3 class="text-lg font-bold text-gray-800 dark:text-gray-100 mt-4 mb-2">
        Preparing the Title Page
      </h3>
      <p>
        The title page should contain the title, authors' names and
        affiliations, and a complete address for the corresponding author,
        including telephone and e-mail addresses.
      </p>

      <h3 class="text-lg font-bold text-gray-800 dark:text-gray-100 mt-4 mb-2">
        Preparing the Blinded Manuscript
      </h3>
      <p>
        To guarantee that the article is appropriately ready for double-blind
        peer review, additional actions must be made in addition to the evident
        necessity of removing names and affiliations from the paper's title. The
        following are the essential things to keep an eye on to facilitate this
        process:
      </p>
      <ul class="list-disc pl-5 space-y-2">
        <li>
          When referencing the Authors' prior work, use the third person case.
          For example, instead of saying "as we have shown in our previous
          work," say "has shown by (Anonymous, 2023)".
        </li>
        <li>
          Ensure that tables or figures do not contain any pointer to the
          author's affiliation.
        </li>
        <li>Eliminate all mentions of financing sources.</li>
        <li>Leave out the acknowledgements.</li>
        <li>
          Make sure document properties are anonymized and remove any
          identifiable information from file names, such as author names.
        </li>
        <li>
          Refrain from removing necessary self-references or other references,
          and restrict self-references to sources that will interest the
          reviewer of the submitted work.
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
