{% extends 'base.html' %} {% block title %}Plagiarism - JHST
<!-- endblock -->
{% endblock %} {% block content %}
<section class="max-w-5xl mx-auto space-y-8">
  <div class="bg-card-light dark:bg-card-dark p-6 rounded">
    <h1
      class="text-3xl font-display font-bold text-primary mb-6 border-b border-border-light dark:border-border-dark pb-2"
    >
      Plagiarism
    </h1>

    <div
      class="prose dark:prose-invert max-w-none text-gray-700 dark:text-gray-300"
    >
      <p>
        Each manuscript will be subjected to a plagiarism check before being
        sent for double-blind peer review. Manuscripts will only be processed
        for peer review if the similarity index is not more than ten (10)
        percent.
      </p>
      <p>
        This Journal uses Plagiarism CheckerX (or equivalent industry standard
        software) for its similarity index check.
      </p>
    </div>
  </div>
</section>
{% endblock %}
