{% extends 'base.html' %} {% block title %}Reviewer Guidelines - JHST{% endblock %} {% block content %}
<section class="max-w-5xl mx-auto space-y-8">
  <div class="bg-card-light dark:bg-card-dark p-6 rounded">
    <h1 class="text-3xl font-display font-bold text-primary mb-8">
      Reviewer's Guidelines
    </h1>

    <div
      class="prose dark:prose-invert max-w-none text-gray-800 dark:text-gray-200"
    >
      {{ page.intro_text|safe }}

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.confidentiality_title }}</h2>
        {{ page.confidentiality_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.timeliness_title }}</h2>
        {{ page.timeliness_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.scope_quality_title }}</h2>
        {{ page.scope_quality_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.review_report_title }}</h2>
        {{ page.review_report_intro|safe }}
        {{ page.review_report_items|safe }}
        {{ page.review_report_close|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.ethical_issues_title }}</h2>
        {{ page.ethical_issues_text|safe }}
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-100 mb-4 pb-2 border-b-4 border-primary/80">{{ page.benefits_title }}</h2>
        {{ page.benefits_text|safe }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
