{% extends 'base.html' %} {% block title %}Subscription and Advert - JHST
<!-- endblock -->
{% endblock %} {% block content %}
<section class="max-w-5xl mx-auto space-y-8">
  <div class="bg-card-light dark:bg-card-dark p-6 rounded">
    <h1
      class="text-3xl font-display font-bold text-primary mb-6 border-b border-border-light dark:border-border-dark pb-2"
    >
      Subscription and Advert
    </h1>

    <div
      class="prose dark:prose-invert max-w-none text-gray-700 dark:text-gray-300"
    >
      <p>
        For details on our subscription and advertising policies, kindly visit
        our Contact page or email the managing editor.
      </p>
      <p class="mt-4">
        As an Open Access journal, subscription fees do not apply for reading
        the content.
      </p>
    </div>
  </div>
</section>
{% endblock %}
