
.obj_article_details .abstract {
text-align: justify;
}
.obj_article_details .author_bios {
text-align: justify;
}
.obj_article_details .references {
text-align: justify;
}
.pkp_page_index .homepage_about{
text-align: justify;
}